body {
background : linear-gradient( 45deg, #fcb0b0, #f1c6b5 ) ;
  font-family : Arial, sans-serif ;
   margin : 0;
   padding : 0; }
h1 , h2 { font-family : Arial, sans-serif; 
         color: #fff ; }
  p , div { 
        font-family : Arial, sans- serif ; 
      color : #333 ; 
    }
